OPENAI_API_KEY=
OPENAI_BASE_URL=
GEMINI_API_KEY=
QWEN_BASE_URL=
LLAMA_BASE_URL=
MODEL_PROVIDER=openai
MODEL_NAME=gpt-4o-mini
EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small
BACKEND_PORT=8000
